h1 {
    text-align: center;
}
.row {
    margin-bottom: 10px;
}
.col-4 {
    margin-top: 10px;
}
.col-5 {
    margin-top: 10px;
}
.col-6 {
    padding: 15px;
}
.col-2 {
    margin-top: 10px;
}
.filt-btns {
    text-align: center;
}
